@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
/* shareds style */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
   
   color: aliceblue;
}
body{
    background:#000000;
}
.container{
    width: 80%;
    margin: 5rem auto;
}
.header{
    background: linear-gradient(180.00deg, rgb(32, 32, 32),rgba(228, 225, 225, 0) 100%);
    margin-top: -5rem;
}
.flex{
    display: flex;
}

/* nav bar style starts here */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: none;
}
.nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.938rem;
    padding:5px  20px 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    font-size: 1.125rem;
    margin-top: 10px;
}
.nav-options p{
    cursor: pointer;
}
#home{
    display: flex;
    align-items: center;
    height: 38px;
    padding: 8px 20px 8px 20px;  
    border-radius: 2.8rem;
    background: rgb(230, 83, 60);
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
}
.title{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}
/* navbar style end here */
 /* banner section style start here */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 167px;
}

 .banner-title{
    font-size:4.8rem ;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 100px;
 }
 #shape{
    font-family: "miama" , sansherif;
    font-size: 8rem;
    font-weight: 400;
 }
 .banner-head{
    gap: 28px ;
    width: 100%;
 }
 .banner-headings p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 28px;
 }
 .banner-btn{
    display: flex;
    gap: 14px ;
 }
 .banner-head button {
    border: 1px solid rgb(255, 255, 255);
    border-radius:2.6rem;
    background-color: transparent;
    padding: 16px 40px 16px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
   cursor: pointer;
 }
 #btn-1{
    background: rgb(230, 83, 60);
    border: none;
 }
 #btn-2{
    margin-left: 14px;
 }
 .banner-img{
    position: relative;
    width: 50%;
 }
 .banner-card-1, .banner-card-2{
    position: absolute;
     width: 206px;
     height: 96px;
     /* padding: 20px; */
     border: 1px solid rgba(255, 255, 255, 0.1);
     background : rgba(48, 48, 48, 0.54);
     backdrop-filter: blur(4px);
     border-radius: 12px;
 }
 .banner-card-2
 {
    left: 200px;
    top: 110px;
 }
 .banner-card-1{
    position: absolute;
    left: -118px;
    bottom: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
 }
 .ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(230, 83, 60) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }
 .card-content h5{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
 }
 .card-content p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
   
 }
 .banner-card-2{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 /* banner style end here */


 /* Habit style start here */
 .Habit-heading{
    text-align: center;
    margin-bottom: 54px;
 }
.Habit-heading h1{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
}
.Habit-heading p {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
}
.Habit-ball-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px ;
}
.habit-ball{
 text-align: center;

}
.habit-ball img{
    border-radius: 50%;
    margin-bottom: 30px ;
}

.habit-ball h5{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 6px;
}
.habit-ball p{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
}
 /* Habit style end here */

 /* Run section style start here */
 .run-extra{
    height: 400px;
    padding: 30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
    padding: 40px;
 }
 /* .run-headings{
    width: 50%;
 } */
 
 .run-headings h1{
    font-size: 3rem ;
font-weight: 900;
color: rgb(255, 255, 255);
margin-bottom: 20px;
 }
 .run-headings p{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
 }
 .run-headings button{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 2.625rem;
    background: rgb(230, 83, 60);
    padding: 15px;
    width: 224px;
    cursor: pointer;
 }
 /* .run-extra-img {
    width: 50%        ;
 } */
.run-extra-img img{
    width: 100%;
   height: 371px;
    border-radius: 1.25rem;
    object-fit: none;
    object-position: 66% 33%;
}
 /* Run section style end here    */

/* BMI calculator style here */

.bmi-head{
    height: 120px;
    margin: 0 auto;
   
}
.bmi-head h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-head p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
}

.bmi-chart-calculator{
    width: 100%;
    background: rgb(34, 34, 34);
   height: auto;
}
.chart-calculator{
    padding: 52px 0px ;

}
.chart h1{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900; 
    margin-bottom: 52px;
}
 table,tr,th,td{
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    
 }

 tr,th,td{
    padding: 20px;
 }

th{
    font-size: 1rem;
    font-weight: 500;
    color:rgb(255, 255, 255);

}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
}
.chart-calculator{
    justify-content: space-between;
}
.calculator{
    width: 577px;
    display: flex;
    flex-direction: column;

}
input,select{
    width: 50%;
}
.factor select{
    width: 100%;
    padding-right: 10px;
}

input, select{
    background-color: transparent;
    /* margin: 20px; */
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding:20px;
    text-align:start;
    outline-color:1px solid rgba(128, 128, 128, 0.8);

    
}
select{
border-right: 20px solid transparent;
}
.form div{
    gap: 10px;
    margin: 10px;
}
 #height
{
    width: 59%;
 }
.calculator-heading{
    margin-left: 13px;
}
#calculate{
    border: none;
    border-radius:2.6rem;
    width: 224px;
    padding: 16px 40px 16px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
   cursor: pointer;
   margin-left: 9px;
   margin-top: 34px;
}
.calculator-heading h3 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.calculator-heading p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
}
::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}

select{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;  
}
/* calculator part end here */
.team-card-container{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
   width: max-content;
    height: max-content;
    margin: 0 auto;
    align-items: center;
    
    padding: 20px 20px 0px 20px;
}
.card-img{
    /* padding: 20px 20px 0px 20px; */
}
.card-img img{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    opacity: 0.4;
}
.card-title{
    position: relative;
    bottom: 75px;
    left: 29px;
}
.meet-our-team-head{
    margin: o auto;
    text-align: center;
    margin-bottom: 78px;
}
.meet-our-team-head h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}
.meet-our-team-head p{
    color: rgba(255, 255, 255, 0.5);
    font-size: .85rem;
    font-weight: 400;
}
.card-title h4{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 900;
}

.card-title p{
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.2rem;
}
/* footer section start here  */
.footer-section{ 
    background: rgba(255, 255, 255, 0.1);

}
.footer-heading-container {
    padding: 66px 0px 79px 0px;
  align-items: center;
  margin: 2rem auto;
    border-bottom:  2px solid rgba(255, 255, 255, 0.1);
   justify-content: space-evenly;
}

.footer-title{
    font-size: 4.375rem;
}
.footer-heading p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: 20px;
    line-height: 24px;
}
.get-started{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.get-started h4{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 39px;
 
}
.get-started p{
    color: rgb(255, 255, 255,0.5);
    font-size: 1.4rem;
    font-weight: 400;
    
}
.rights-section{
height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
    
}
.rights-section p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
/* responsive part */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    .container{
        width: 100%;
    }
    .nav-options{
        display: none;
    }
    .menu{
        display: block;
    }
    .banner{
        flex-direction: column;  
      height: fit-content;
      margin: 0 auto;
    }
    .banner-head p{
        margin-bottom:30px ;     
    }
    .banner-title{
        font-size: 3rem;
    }
    #btn-1,#btn-2 {
        width: calc( 100% - 220px );
        height: fit-content;
        padding: 10px;
    }
    .banner-img{
      padding: 40px; 
      margin-right: 100px; 
    }
    .banner-card-1,.banner-card-2{
        width: calc( 100% - 100px);
        height: auto;
        padding: 20px;
    }
    .banner-card-1{
        bottom: 292px;
        left: 0px;
    }
    .banner-card-2{
        width: 130px;
        left: 219px;
        top: 74px;
        padding-right: 0px;
    }
    .Habit-ball-container{
        grid-template-columns: 1fr;
    }
    .run-extra{
        height: 500px;
       
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
       width: calc(100% - 100px );
       margin: 0 25px 0 25px;
    }
    .run-extra-img img{
        height: auto;
        object-fit: cover;
    }
    .run-headings{
        width: 90%;  
    }
    .run-headings button {
        width: 100%;
    }
    .chart-calculator{
        flex-direction: column;
    }
    .chart{
        position: relative;
        left: 10px;
    }
    .bmi-head{
        text-align: left;
        margin: 20px 0px 20px 10px ;
    }
    .calculator{
        margin-top: 20px;
        width: 100%;
    }
    .team-card-container{
        grid-template-columns: 1fr;
    }
    #img-2{
        order: 1;
    }
    #img-5{
        order: 2;
    }
    #img-1{
        order: 3;
    }
    #img-6{
        order: 4;
    }
    #img-3,
    #img-4{
        display: none;
    }
    .footer-heading-container {
        flex-direction: column;
        gap: 30px;
    }
}